<div class="row">
  <div class="col-md-8">
    <h2>{{projet?.nom}}</h2>
    <p><img src="{{projet?.image}}" class="justify-content-center"></p>
    <p>{{projet?.description}}</p>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5>Objectif</h5>
        <p>{{projet?.montant}} €</p>
        <h5>Montant récolté</h5>
        <p>0 €</p>
        <h5>Date de fin</h5>
        <p>{{projet?.dateFin | date:'d/MM/yyyy'}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Entrepreneuse</h5>
        <p>{{projet?.entrepreneuse}}</p>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-light">Contribuer</button>
    </div>
  </div>
</div>
