/* You can add global styles to this file, and also import other style files */
.btn-primary, .btn-primary:active {
  background-color: palevioletred;
  border-color: palevioletred;
}

 .btn-primary:hover {
   background-color: pink;
   border-color: palevioletred;
 }
