/* You can add global styles to this file, and also import other style files */
.btn-light, .btn-light:active, btn-light:focus {
  background-color: #d81b60;
  border-color: #d81b60;
}

 .btn-light:hover {
   background-color: palevioletred;
   border-color: #d81b60;
 }
